---
import Layout from "../../layouts/Layout.astro";
import type { ProjectType } from "../../shared/github.types";
import { Image } from "astro:assets";
import { marked } from "marked";
import { getByUrl } from "../../shared/github";

const { name } = Astro.params;

const project = await getByUrl<ProjectType>(
  `https://api.github.com/repos/eduardodgdebem/${name}`
);

const teste = await getByUrl<any>(
  `https://api.github.com/repos/eduardodgdebem/${name}/contents/README.md`
);

let html = "";
if (teste.content) {
  const decodeMd = Buffer.from(teste.content, "base64").toString();
  html = marked.parse(decodeMd);
}
---

<Layout title="eduardogdebem">
  <a href={project.html_url} target="_blank" class="max-w-fit block">
    <h1 class="w-fit text-4xl font-bold hover:underline duration-200">
      {project.full_name}
    </h1>
  </a>
  <p class="text-2xl font-semibold text-gray">{project.description}</p>
  <div class="w-full flex justify-center my-5">
    <a
      href={project.homepage}
      target="_blank"
      class="overflow-hidden rounded-lg block w-fit bg-[black] border-2 border-vanila-dark"
    >
      <Image
        height={600}
        width={600}
        alt={`${project.name} site`}
        src={`/images/project-${project.name}.jpeg`}
        class="hover:opacity-50 duration-200"
      />
    </a>
  </div>
  <div class="p-2 border-2 border-vanila-dark rounded-lg mb-2 font-medium">
    <Fragment set:html={html} />
  </div>
</Layout>
