---
interface Props {
  title: string;
  body: string;
  href: string;
  githubLink: string;
  projectLink: string;
}

let { href, title, body, githubLink, projectLink } = Astro.props;

if (!projectLink?.startsWith("https") && projectLink) {
  projectLink = "https://" + projectLink;
}
---

<li
  class="bg-gray rounded-lg text-vanila p-2 relative border-2 overflow-hidden hover:border-purple hover:text-vanila-bright flex justify-between object-center"
  id={title}
>
  <a href={href} class="w-full flex flex-col">
    <h2 class="m-0 text-lg">
      {title}
    </h2>
    <p class="text-sm text-vanila-dark">
      {body}
    </p>
  </a>

  <div class="flex gap-2 p-2">
    <a
      href={githubLink}
      class="p-2 h-9 aspect-square rounded-[50%] border-2 text-vanila flex justify-center object-center cursor-pointer hover:text-purple hover:bg-vanila-bright"
      ><i class="fa-brands fa-github"></i></a
    >
    {
      projectLink && (
        <a
          href={projectLink}
          target="_blank"
          class="p-2 h-9 aspect-square rounded-[50%] border-2 text-vanila   flex justify-center object-center cursor-pointer hover:text-purple hover:bg-vanila-bright "
        >
          <i class="fa-solid fa-link " />
        </a>
      )
    }
  </div>

  <div id={"gloom-" + title} class="gloom absolute invisible"></div>
</li>

<style>
  .gloom {
    -webkit-box-shadow: 0px 0px 50px 30px #fffff050;
    box-shadow: 0px 0px 100px 100px #fffff050;
    border-radius: 50%;
  }
</style>
